form {
	border: 3px solid #f1f1f1;
	margin: 5px auto; 
  	width: 339px;
	height: 500px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(255, 255, 255,1);
	z-index: 3;
}

.container{
	padding: 16px;
	font-family: Saira;
}

/*input */
input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 2px solid #000000;
	box-sizing: border-box;
	border-radius: 5px;
}
/*button */
.centerBtn {
	display: flex;
  	justify-content: center;
  	align-items: center;
}
button {
	
	background-color: #FFCB91;
	color: white;
	font-weight: bold;
	padding: 14px 20px;
	margin: 5% 0;
	border:none;
	cursor: pointer;
	border-radius: 5px;
}
button:hover {
	opacity: 0.8;
}

/* icon login */
.labelContainer{
	text-align: center;
	padding-top:16px;
}
.label{
	display: inline-block;
	font-size: 40px;
}

/*forget pass*/
span.pass {
  float: right;
}


.TextBoxLabel{
	transform: translateY(-18px);
	z-index: -1;
}