.accountTable {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
table {
    border: 1px solid black;
    width: 800px;
    height: auto;
}
    
th {
    border: 1px solid black;
    font-size: large;
}
    
td {
    border: 1px  solid black;
    text-align: center;
}
#accColumn{
    font-size: large;
    width: 100%;	
    height: 100%;
	display: inline-block;
    border:hidden;
    text-align: left;
    outline:none;
}
.tableName{
    height:50px;
}

.actionBtn
{   
    margin:10px;
    cursor: pointer;
    position: relative;
}
