#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
  }
 #LandingContainer
 {  
    width: 100vw;
    height: 100vh;
    position:relative ;
    z-index: 1;
 } 
.LgBtnContainer{
    position: relative;
    padding: 16px;
}
.LoginButton{
    position: absolute;
    right: 3vw;
    top: 5px;
    font-size: 20px;
    background-color: #FFCB91;
	color: white;
	font-weight: bold;
	padding: 14px 20px;
	margin: 1% 0;
	border:none;
	cursor: pointer;
	border-radius: 5px;
}
.middleLP{
    position: fixed;  
    width: 1197px;
    height: 706px;
    background-color: rgba(255,255,255,1);
    box-shadow: 11px 4px 15px 9px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.landingPageH1{
    position: absolute;  
    left:5%;
    top: 8%;
    font-family: Saira;
    font-weight: bold;
    font-size: 72px;
    display: flex;
    letter-spacing: 0.075em;
}

.landingPageH2{
    position: absolute;
    height: 88px;
    left: 5%;
    top: 30%;

    font-family: Saira;
    font-weight: bold;
    font-size: 36px;

    align-items: center;
    letter-spacing: 0.26em;
}

.landingPageH3{
    position: absolute;
    width: 540px;
    height: 263px;
    left: 5%;
    top: 40%;
    font-family: Saira;
    font-weight: normal;
    font-size: 30px;
    line-height: 474.9%;
    align-items: center;
}

.landingImg
{
    position: absolute;
    width: 45%;
    height: 100%;
    right: 0;
    border-radius: 10px;
}