
  .body {
    background-color: #7cc6fe;
    display: flex;
    font-family: "Verdana", cursive, sans-serif;
    font-weight:bold;
    color: black;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .app {
    background-color: white;
    width: 450px;
    min-height: 200px;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-evenly;
  }
  
  .score-section {
    display: flex;
    font-size: 24px;
    align-items: center;
  }
  
  /* QUESTION/TIMER/LEFT SECTION */
  .question-section {
    width: 100%;
    position: relative;
  
  }
  
  .question-count {
    margin-bottom: 20px;
  }
  
  .question-count span {
    font-size: 28px;
  }
  
  .question-text {
    margin-bottom: 12px;
  }
  
  /* ANSWERS/RIGHT SECTION */
  .answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  .answersBtn {
    margin:10px 0 10px 0;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: #FFCB91;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
  }
  
  .answersBtn:hover {
    background-color: #FFEFA1;
  }
  
  .answersBtn:focus {
    outline: none;
  }
  
  .answersBtn svg {
    margin-right: 5px;
  }